{% extends 'base.html' %}

{% block content %}

    {% if request.user.is_authenticated %}
        <form action="" method="get">
            {{ form.as_p }}
            <input type="submit" value="Search">
        </form><br/><br/>

        <div class="card">
                {% for todo in todos %}
                    <a href="todos/{{ todo.id }}" class="card-body">{{ todo.title|truncatewords:8 }}</a>
                {% endfor %}
        </div>
    {% else %}
        <h3> Todos Page </h3>
    {% endif %}
{% endblock %}