{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card-body text-center">
    <form action="" method="post" class="col-md-4" novalidate enctype="multipart/form-data">
      {% csrf_token %}
      <div class="card-body text-left">
        <h2>Register User</h2>
      </div>
      <img
         class="img-account-profile rounded-circle mb-2"
         src="{% static user.profile_image %}"
         alt=""
         width="250"
         height="300">
      <div class="small font-italic text-muted mb-4">{{ user }}</div>
      <div class="small font-italic text-muted mb-4">{{ user.email }}</div>
      {{ form.as_p }}
      <input type="submit" value="Edit profile">
    </form>
</div>
{% endblock %}